@define-color primary #ffb4ac;
@define-color surface #1a1110;
@define-color on_surface #f1dedc;

@define-color notification_bg rgba(26, 17, 16, 0.8);
@define-color bar_border rgba(255, 180, 172, 0.4);


