@define-color primary #d5bbfc;
@define-color surface #151218;
@define-color on_surface #e7e0e8;

@define-color notification_bg rgba(21, 18, 24, 0.8);
@define-color bar_border rgba(213, 187, 252, 0.4);
