@define-color primary #bec2ff;
@define-color surface #131318;
@define-color on_surface #e4e1e9;

@define-color notification_bg rgba(19, 19, 24, 0.8);
@define-color bar_border rgba(190, 194, 255, 0.4);
