waybar/colors.css

.git/
*.log
*history
.env
# Matugen generated colors
btop/themes/matugen.theme
hypr/colors.conf
hypr/hyprlock.conf
kitty/colors.conf
rofi/colors.rasi
swaync/colors.css
nvim/lua/config/matugen_colors.lua
