@import url("/home/kataparte/.config/waybar/colors.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent; 
}

/* The Combined Pill Container */
#group-owl-pill {
    background-color: #1e1e2e;
    border-radius: 12px;
    margin: 2px 3px 2px 10px;
    padding: 0px 8px;
}

/* The Arch Logo inside the pill */
#custom-launcher {
    color: @accent;
    background-color: transparent; /* No longer its own button */
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.15); /* The "|" separator */
    font-size: 16px;
}

/* Individual Pills for everything else */
#window, #pulseaudio, #backlight, #battery, #clock, #tray {
    background-color: #1e1e2e;
    color: @accent;
    padding: 0px 8px;   
    border-radius: 12px; 
    margin: 2px 3px;    
}

/* Workspaces (now transparent to show the owl-pill background) */
#workspaces {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#workspaces button {
    padding: 0 4px;     
    color: #585b70;
}

#workspaces button.active {
    color: @accent;
}

/* Battery States */
#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: @critical;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    background-color: #1e1e2e;
    color: @accent; /* This uses your Matugen-generated colors! */
    padding: 0px 10px;
    border-radius: 12px;
    margin: 2px 3px;
}

#bluetooth.connected {
    color: #a6e3a1; /* Changes to a nice green when connected */
}

#bluetooth.disabled {
    background-color: #313244;
    color: #45475a;
}

#custom-reboot,
#custom-power {
    background-color: #1e1e2e;
    padding: 0px 10px;
    border-radius: 12px;
    margin: 2px 3px;
    font-size: 14px;
}

#custom-reboot {
    color: #caa4e8;
}

#custom-power {
    color: #f38ba8;
}
