/* We use .rgba to get the 'rgb(r, g, b)' part, then wrap it in our own rgba for transparency */
@define-color primary {{colors.primary.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}};

/* 0.6 = 60% opacity */
@define-color bar_bg rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.6);

/* 0.3 = 30% opacity for the bubbles */
@define-color pill_bg rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.3);

/* 0.5 = 50% opacity for borders */
@define-color bar_border rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.5);
